/*******color variables*********/
/*******color variables*********/
/*******header********/
header {
  background-color: #d9e8ef;
}

.header__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'one three' 'two three';
}

.logo {
  width: 15rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  gap: 2rem;
}

.nav-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2rem;
}

.nav-menu__item {
  color: #0b0d17;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hero__img {
  width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: three;
}

.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: two;
}

.hero__title {
  font-size: 7.2rem;
}

.hero__btn {
  background-color: #2ec5ce;
  color: #fff;
  margin-top: 3.2rem;
}

.hero__title {
  margin-bottom: 1.6rem;
}

.nav {
  padding: 0 10rem;
}

.hero {
  padding: 10rem 15rem 10rem 10rem;
}

/****media query****/
@media only screen and (max-width: 1000px) {
  .header__container {
        grid-template-areas: 'one' 'three' 'two';
    text-align: center;
  }
  .nav {
    padding: 0;
  }
  .hero {
    padding: 0rem 0rem 10rem 0rem;
  }
  .hero__title {
    font-size: 4.3rem;
  }
  .hero__img {
    margin-top: 4rem;
  }
  .nav {
    width: 100%;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

/*******color variables*********/
.rating {
  background-color: #0b0d17;
  color: #fff;
}

.rating__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8.4rem 0;
}

.rating__heading {
  font-size: 4.8rem;
}

.rating__subheading {
  font-size: 2.8rem;
}

@media only screen and (max-width: 1000px) {
  .rating__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    width: 80%;
    gap: 4rem;
  }
  .rating__heading {
    font-size: 3.8rem;
  }
}

/******css reset******/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
}

p {
  line-height: 32px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn {
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.rating__container {
  max-width: 1024px;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .header__container, .rating__container {
    max-width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */