/****abstracts****/
@import "./abstracts/variables";
@import "./abstracts/mixins";

/***components******/
@import "./components/header";
@import "./components/rating";
@import "./components/about";
@import "./components/presentation";
@import "./components/testimonial";
@import "./components/footer";
@import "./components/resets";

/*****defining max-width******/
.header__container,
.about__content,
.presentation__content {
  max-width: 1540px;
  margin: 0 auto;
}
.rating__container,
.testimonial__content,
.footer__content {
  max-width: 1540px;
  margin: 0 auto;
}

/****media query*******/
@media only screen and (max-width: 1000px) {
  .header__container,
  .testimonial__content,
  .footer__content {
    max-width: 90%;
  }
}
