.about {
  background-color: $gray-color;
}
.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 10rem 0;
}
.about__right {
  padding: 0 5rem;
}
.about__right p {
  font-size: 1.8rem;
}
.about__img {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
}
.about__btn {
  background-color: $primary-color;
  color: $white-color;
  margin-top: 3.2rem;
}
.about__heading {
  font-size: 4rem;
  margin-bottom: 3.2rem;
}

/****media query****/

@media only screen and (max-width: 1024px) {
  .about__content {
    grid-template-columns: 1fr;
    padding: 8rem 0;
    text-align: center;
  }
  .about__heading {
    margin-bottom: 2rem;
  }
  .about__right {
    margin-top: 3rem;
    padding: 0;
  }
  .about__btn {
    margin-top: 2rem;
  }

  /*****max-width******/
  .about__content {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .about__heading {
    font-size: 3.2rem;
  }
}
