@import '../partials/variables';
@import '../partials/mixins.scss';


/*******header********/
header {
    background-color: $gray-color;
}

.header__container {
    display: grid;
    grid-template-areas:
        'one three'
        'two three';
}

.logo {
    width: 15rem;
}

.nav {
    display: flex;
    align-items: center;
    grid-area: one;
    gap: 2rem;
}

.nav-menu {
    display: inline-flex;
    gap: 2rem;
}

.nav-menu__item {
    color: $black-color;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hero__img {
    grid-area: three;
    width: 100%;
    height: auto;
}

.hero {
    grid-area: two;
}

.hero__title {
    font-size: 7.2rem;
}

.hero__btn {
    background-color: $primary-color;
    color: $white-color;
    margin-top: 3.2rem;
}

.hero__title {
    margin-bottom: 1.6rem;
}

.nav {
    padding: 0 8rem;
}

.hero {
    padding: 10rem 15rem 10rem 10rem;
}

/****media query****/

@media only screen and (max-width: 1218px) {
    .header__container {
        grid-template-areas:
            'one'
            'three'
            'two';
        text-align: center;
    }

    .hero {
        padding: 0rem 0rem 10rem 0rem;
    }

    .hero__title {
        font-size: 4.3rem;
    }

    .hero__left {
        width: 70%;
        margin: 0 auto;
    }

    .nav {
        padding: 4rem;
        justify-content: space-between;
    }

    .nav-menu__item {
        color: $white-color;
    }

    .nav-menu__list:not(:first-child) {
        margin-top: 3rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 9rem;
        flex-direction: column;
        padding: 5rem 0;
        background-color: $black-color;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 800px) {
    .hero__left {
        width: 90%;
    }

    .hero__title {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .hero__title {
        font-size: 3rem;
    }

    .nav {
        padding: 4rem 1rem;
    }
}