@import '../partials/variables';
@import '../partials/mixins.scss';


/*******header********/
header {
    background-color: $gray-color;
}
.header__container {
    display: grid;
    grid-template-areas: 
    'one three'
    'two three';
}
.logo {
    width: 15rem;
}
.nav {
    display: flex;
    align-items: center;
    grid-area: one;
    gap: 2rem;
}
.nav-menu {
    display: inline-flex;
    gap: 2rem;
}
.nav-menu__item {
    color: $black-color;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.hero__img {
    grid-area: three;
    width: 100%;
    height: auto;
}
.hero {
    grid-area: two;
}
.hero__title {
    font-size: 7.2rem;
}
.hero__btn {
    background-color: $primary-color;
    color: $white-color;
    margin-top: 3.2rem;
}
.hero__title {
    margin-bottom: 1.6rem;
}
.nav {
    padding: 0 8rem;
}
.hero {
    padding: 10rem 15rem 10rem 10rem;
}

/****media query****/ 

@media only screen and (max-width: 1218px){
    .header__container {
        grid-template-areas: 
        'one'
        'three'
        'two';
        text-align: center;
    }
    .hero {
        padding: 0rem 0rem 10rem 0rem;
    }
    .hero__title {
        font-size: 4.3rem;
    }
    .hero__left {
        width: 70%;
        margin: 0 auto;
    }
    .nav {
        padding: 4rem;
        justify-content: space-between;
    }   
    .nav-menu__item {
        color: $white-color;
    }
    .nav-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 80px;
        left: 0;
        height: 10erm;
        width: 100%;
        background-color: $black-color;
        padding: 3rem 0;
        gap: 3rem;
    }
    .nav-menu.active {
        display: block;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 800px) {
    .hero__left {
        width: 90%;
    }
    .hero__title {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .hero__title {
        font-size: 3rem;
    }
    .nav {
        padding: 4rem 1rem;
    }
}