@import '../partials/variables';
@import '../partials/mixins.scss';



.rating {
    background-color: $black-color;
    color: $white-color;
}
.rating__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: flex-start;
    padding: 8.4rem 0;
}
.rating__heading {
    font-size: 4.8rem;
}
.rating__subheading {
    font-size: 2.8rem;
}


@media only screen and (max-width: 1000px){
    .rating__container {
        grid-template-columns: 1fr;
        align-items: flex-start;
        text-align: center;
        width: 80%;
        gap: 4rem;
    }
.rating__heading {
    font-size: 3.8rem;
}
}