@import "../abstracts/variables";
@import "../abstracts/mixins";

.rating {
  background-color: $black-color;
  color: $white-color;
}
.rating__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: flex-start;
  // gap: 2rem;
  padding: 8.4rem 8rem 8.4rem 12rem;
}
.rating__heading {
  font-size: 4.8rem;
  margin-bottom: 0.8rem;
}
.rating__heading p {
  font-size: 1.8rem;
}
.rating__subheading {
  font-size: 2.8rem;
}
.rating__subheading p {
  font-size: 1.6rem;
}
.view,
.learners {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}
.rating__box p {
  font-size: 1.6rem;
}
.view p,
.learners p {
  font-size: 1.6rem;
}
.learner h2 {
  font-size: 2.8rem;
}
.view h2 {
  font-size: 2.8rem;
}
@media only screen and (max-width: 1024px) {
  .rating__container {
    grid-template-columns: 1fr;
    align-items: flex-start;
    text-align: center;
    width: 80%;
    gap: 4rem;
    padding: 8rem 0;
  }
  .rating__subheading {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .rating__heading {
    font-size: 3rem;
  }
}
